// Хранит все стили текста и шрифтов: ( fonts , colors , line-height)

@import url('https://fonts.googleapis.com/css2?family=Alien+Block&family=Black+Ops+One&display=swap');

body {
    font-family: "Black Ops One" , sans-serif;
}

h1 {
    font-weight: 900;
    font-size: 48px;
}

h2 {
    font-weight:800;
    font-size: 36px;
}

h3 {
    font-weight: 700;
    font-size: 24px;
}

h4 {
    font-weight: 600;
    font-size: 20px;
}

h5 {
    font-style: 500;   
    font-size: 18px;
}

h6 {
    font-weight: 400;
    font-size: 16px;
}